* {
    margin: 0;
    font-family:  General Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    
    margin: 0;
  }


/* Navigation Styling */

nav {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid;
    padding: 20px;
    color: #000000;
    border-bottom: 1px solid #0000003d;
  }
  
  .logo img {
    height: 50px;
  }
  
  .navigation {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
    margin: 0 20px;
  }
  
  .navigation li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
  }
  
  .waitlist {
    margin-left: auto;
  }
  
  .waitlist a.button {
    display: inline-block;
    padding: 15px 50px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 100px;
   
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    margin-top: 5em;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color:#ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    
  }
  
  .popup.show {
    display: block;
    animation: slide-in 1s;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-100%) translateX(-50%);
    }
    to {
      transform: translateY(0%) translateX(-50%);
    }
  }

   
  
  
  
  @media screen and (max-width: 768px) {
    nav {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px;
    }
  
    .navigation {
      display: none;
      flex-basis: 100%;
      margin-top: 20px;
    }
  
    .navigation li {
      margin: 10px;
    }
  
    .waitlist {
        margin-left: auto;
      }
      
      .waitlist a.button {
        display: inline-block;
        padding: 15px 50px;
        background-color: #000000;
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        border-radius: 100px;
      }
  
    .menu-toggle {
      display: block;
      order: 1;
      margin-right: 10px;
      font-size: 18px;
      color: #000000;
      cursor: pointer;
    }
  
    .menu-toggle:before {
      content: "\f0c9";
      font-family: FontAwesome;
      font-weight: 400;
    }
  
    .menu-toggle.active:before {
      content: "\f00d";
    }
  
    .navigation.active {
      display: block;
      width: 100%;
    }
    
    
  }

  /* Main hero section */

  .main-hero-section {
    height: 650px;
    width: 100%;
    background-image: linear-gradient(75deg,#FFFFFF,#D0E3FF);
    position: relative;
  }
  
  .main-hero-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }
  
  .main-hero-s1 {
    padding-top: 7em;
    height: 400px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }

  .main-hero-s1 h1 {
    color: #1E2B4A;
    text-align: center;
    font-size: 2.5em;
  }

  .main-hero-s1 p {
    color: #1E2B4A;
    opacity: 70%;
    font-weight: 500;
    margin-top: 2em;
    font-size: 1.1em;
  }
 
 
 


  .main-hero-cta {
    height: 65px;
    width: 80%;
    justify-content: space-evenly;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 2em;
  }

  .main-hero-cta button {
    border-radius: 1000em;
    border: none;
  }

  .main-hero-cta :nth-child(1) {
    background-image: linear-gradient(125deg, #20D7AB, #2292C2, #23A3FF);
    font-weight: 500;
    color: white;
    width: 30%;
    width: 20em;
    transition: all 300ms ease;
  }
  
  .main-hero-cta :nth-child(1):hover {
    background-image: linear-gradient(35deg, #20D7AB, #2292C2, #23A3FF);
    cursor: pointer;
    animation: fade 400ms;
  }

  @keyframes fade {
    0% {
      opacity: 0.88;
      
    }
    100% {
      opacity: 1;
      
    }
  }
  
  

  .main-hero-cta :nth-child(2) {
    color: white;
    width: 20em;
    border: 1.5px solid #B6B6B6;
    color: black;
    font-weight: 500;
  }

  .coming-soon {
    display: inline-block;
    background-image: linear-gradient(50deg, #20D7AB, #2292C2, #23A3FF);
    color: #fff;
    padding: 4px 8px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: 400;
    border-radius: 100px;
  }
  

  .purpledots {
    color: #6171FD;
  }

  .slash {
    text-decoration: line-through;
  }

.main-hero-pricingab {
    font-size: 0.9em;
}

.main-hero-section-transition {
    background-image: linear-gradient(125deg,#FFFFFF,#D0E3FF);
    height: 50px;
    backdrop-filter: blur(400px);
    
    
}

.sub-hero-showcase {
    width: 100%;
    
}

.sub-hero-s1 {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    


  }
.sub-hero-s1 img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
/* Section 1 Hero */


  .section-1-hero {
    height: 500px;
    width: 100%;
   
    margin-top: 15em;
    display: flex;
    
}

.section-1-s1 {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    height: 400px;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
}

.section-1-div {
   
    width: 45%;
}
.section-2-div {
   
    width: 55%;
}

.images-21 {
    width: 100%;
}


.section-1-div :nth-child(1){
  color: #1E2B4A;
  font-size: 2.5em;
}
.section-1-div :nth-child(2){
  color: #1E2B4A;
  font-size: 1.1em;
  margin-top: 2em;
  opacity: 60%;
  font-weight: 500;}

.section-1-div :nth-child(3){
  color: #1E2B4A;
  font-size: 1.1em;
  margin-top: 4em;
  opacity: 60%;
  font-weight: 500;
}

.q-and-a-hero {
  height: auto;
  width: 100%;
  background-color: #1E2B4A;
  margin-top: 15em;
  display: flex;
  border-radius: 0px 400px 0px 0px;
}

.q-and-a-wrapper{
  width: 70%;
  height: 100%;
  margin-top: 4em;
  margin-left: 8em;
 

}

.q-and-a-imgwrap {
  width: 50%;

}
.q-and-a-imgwrap :nth-child(1) {
  width: 40%;
  
}

.q-and-a-questionwrap{
  
  width: 100%;
  
}
.q-and-a-questionwrap :nth-child(1){
 font-weight: 400;
 color: white;  
}

.qna-questions {
  display: flex;
  align-items: center;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  color: white;
  font-size: 1.3em;
  height: 5em;
}
.qna-questions:hover {
 background-color: #20d7ac27;
 transition: 400ms ease;
 cursor: pointer;
}

.qna-questions button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.7em;
  
}

.qna-questions p {
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

.qna-questions1 {
  display: flex;
  align-items: center;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  color: white;
  font-size: 1.3em;
  height: 5em;
}
.qna-questions1:hover {
 background-color: #20d7ac27;
 transition: 400ms ease;
 cursor: pointer;
}

.qna-questions1 button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.7em;
  
}

.qna-questions1 p {
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

.qna-details {
  display: none;
  animation-duration: 0.5s;
  animation-name: slideIn;
  background-color: white;
  
}
.qna-details {
  display: none;
  animation-duration: 0.5s;
  animation-name: slideIn;
  background-color: white;
  width: 100%;
  padding-bottom: 4em;
}
.qna-details :nth-child(1){
 color: #1E2B4A;
}

.qna-details.show {
  display: block;
  animation-duration: 1s;
  animation-name: slideIn;
  color: #1E2B4A;
}

.qna-details-wrapper {
  width: 80%;
  margin-left: 3em;
}
.qna-details-wrapper :nth-child(1){
  padding-top: 3em;
  font-weight: 700;
  width: 90%;
  font-size: 2.3em;
}
.qna-details-wrapper :nth-child(2){
  padding-top: 4em;
  font-size: 1.1em;
}
.qna-details-wrapper :nth-child(3){
  padding-top: 1em;
  font-size: 1.1em;
}
.qna-details-wrapper :nth-child(4){
  padding-top: 1em;
  font-size: 1.1em;
}
.qna-details-wrapper :nth-child(5){
  padding-top: 1em;
  font-size: 1.1em;
}
.qna-details-wrapper :nth-child(6){
  padding-top: 1em;
  font-size: 1.1em;
}

.qna-questions-1 {
  display: flex;
  align-items: center;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  color: white;
  font-size: 1.3em;
  height: 5em;
}
.qna-questions-1 button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.7em;
  color: #20D7AB;
}

.qna-questions-1 p {
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

.qna-hero-wrap {
  margin-top: 4em;
  color: white;
}
.uil-plus-circle {
  color: #20D7AB;
  transition: 300ms ease;
}

.uil-minus-circle {
  color: #20D7AB;
  transition: 300ms ease;
}
@keyframes slideIn {
  from {
   opacity: 0;
    transform: translateY(15%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* unlock-supergrid-hero */

.unlock-supergrid-hero {
  
  margin-top: 10em;
  
  
}

.UYHS{
  margin-left: 1.5em;
  color: #1E2B4A;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(100px, auto));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  padding: 20px;
  border-radius: 5px;
}

.supergrid-wrap {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.supergrid-wrap :nth-child(1){
  margin-bottom: 2em;
}

.grid-wrap-md{
  margin-left: 1em;
}

.grid-wrap-md :nth-child(1){
  width: 20%;
  
}

.grid-item :nth-child(2){
  font-weight: 600;
  color: #1E2B4A;
  font-size: 1.2em;
  
}
.grid-wrap-md :nth-child(3){
  font-weight: 400;
  padding-top: 1em;
  color: #1E2B4A;
  font-size: 0.9em;
  
}

/* b9281-grid */

.b9281-grid {
  height: 6em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.b9281-grid :nth-child(2){
  font-weight: 600;
  padding-top: 1em;
  font-size: 1.5em;
  -webkit-text-fill-color: transparent;
   background: -webkit-linear-gradient(#33ff9d,#7593FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.b9281-grid :nth-child(3){
  padding-top: 0.5em;
  font-size: 1em;
}

.circle-div {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  background-image: linear-gradient(80deg,#5AFFB0,#7593FF);
}